In [425]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [427]:
#upload and merge data

pd.set_option('display.max_columns', None)
df1 = pd.read_csv('personal_info_train.csv')
df2 = pd.read_csv('measurements_results_train.csv')

df = pd.merge(df1, df2, on="patient_id")

In [429]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64788 entries, 0 to 64787
Data columns (total 39 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   patient_id   64788 non-null  object
 1   created_at   64788 non-null  object
 2   birth_date   64788 non-null  object
 3   gender       64788 non-null  object
 4   country      64788 non-null  object
 5   region       0 non-null      float64
 6   HMO          38811 non-null  object
 7   height       64788 non-null  float64
 8   bmi          64660 non-null  float64
 9   heart_rate   64788 non-null  float64
 10  steps_day_1  64788 non-null  int64
 11  steps_day_2  61515 non-null  float64
 12  steps_day_3  64788 non-null  int64
 13  steps_day_4  64788 non-null  int64
 14  steps_day_5  64788 non-null  int64
 15  city         64788 non-null  object
 16  employment   64788 non-null  int64
 17  weight       64788 non-null  float64
 18  label        64788 non-null  int64
 19  test_0       64788 non-null  float64
 20  test_1       64788 non-null  float64
 21  test_2       61567 non-null  float64
 22  test_3       64788 non-null  float64
 23  test_4       64788 non-null  float64
 24  test_5       64788 non-null  float64
 25  test_6       61579 non-null  float64
 26  test_7       64788 non-null  float64
 27  test_8       61534 non-null  float64
 28  test_9       64788 non-null  float64
 29  test_10      61659 non-null  float64
 30  test_11      64788 non-null  float64
 31  test_12      61637 non-null  float64
 32  test_13      64788 non-null  float64
 33  test_14      64788 non-null  float64
 34  test_15      61507 non-null  float64
 35  test_16      64788 non-null  float64
 36  test_17      64788 non-null  float64
 37  test_18      64788 non-null  float64
 38  test_19      64788 non-null  float64
dtypes: float64(26), int64(6), object(7)
memory usage: 19.3+ MB

In [431]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
region,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
height,64788.0,166.707699,1.411075e+01,1.499920,159.854853,167.278849,174.942240,1.979218e+02
bmi,64660.0,7716.384287,1.167427e+06,14.004048,23.397359,25.005442,26.622584,2.133648e+08
heart_rate,64788.0,77.692510,1.414733e+01,50.473672,65.439226,77.741777,89.910432,1.045811e+02
steps_day_1,64788.0,451.610298,3.718757e+02,10.000000,174.000000,343.000000,625.000000,2.324000e+03
steps_day_2,61515.0,446.852004,3.676409e+02,10.000000,173.000000,339.000000,618.000000,2.325000e+03
steps_day_3,64788.0,442.450979,3.642989e+02,10.000000,173.000000,336.000000,609.000000,2.314000e+03
steps_day_4,64788.0,439.576650,3.624054e+02,10.000000,171.000000,335.000000,605.000000,2.326000e+03
steps_day_5,64788.0,436.866611,3.647725e+02,10.000000,169.000000,327.000000,602.250000,2.345000e+03
employment,64788.0,1.990847,1.415629e+00,0.000000,1.000000,2.000000,3.000000,4.000000e+00
weight,64788.0,436.963978,5.151021e+03,30.266584,62.730378,69.704388,77.319928,1.373021e+05
label,64788.0,0.043110,2.031059e-01,0.000000,0.000000,0.000000,0.000000,1.000000e+00
test_0,64788.0,-0.237797,1.668950e+00,-7.238968,-1.365989,-0.236454,0.902184,7.174926e+00
test_1,64788.0,-0.492065,1.630892e+00,-8.924548,-1.575229,-0.525669,0.573182,6.844802e+00
test_2,61567.0,-0.411918,2.006831e+00,-9.108273,-1.845199,-0.323447,1.060999,8.985682e+00
test_3,64788.0,0.002772,1.418635e+00,-6.584857,-0.957425,0.002553,0.962201,6.205894e+00
test_4,64788.0,0.430305,2.274101e+00,-9.508980,-1.251592,0.360521,2.118189,8.598406e+00
test_5,64788.0,0.001631,1.416342e+00,-5.697169,-0.953544,-0.002196,0.954137,5.610593e+00
test_6,61579.0,0.060159,1.152194e+00,-4.948000,-0.719551,0.064063,0.834212,4.630943e+00
test_7,64788.0,-0.296229,2.044720e+00,-10.157097,-1.645265,-0.323070,1.015836,8.968539e+00
test_8,61534.0,-0.230131,1.780773e+00,-8.181536,-1.432681,-0.276438,0.939222,8.405406e+00
test_9,64788.0,0.007203,1.415366e+00,-6.586648,-0.940481,0.008803,0.953310,6.230551e+00
test_10,61659.0,0.006780,1.443639e+00,-6.157765,-0.967870,0.004733,0.979096,6.577005e+00
test_11,64788.0,-0.189508,1.937109e+00,-8.805300,-1.543179,-0.103034,1.229181,8.411461e+00
test_12,61637.0,0.002483,1.443986e+00,-5.948000,-0.964613,0.005216,0.973500,6.750806e+00
test_13,64788.0,-0.057902,1.808319e+00,-9.035730,-1.208175,-0.056286,1.110630,7.994295e+00
test_14,64788.0,0.003992,1.447732e+00,-6.634544,-0.965067,0.004993,0.976924,6.885874e+00
test_15,61507.0,100.004255,1.621747e+00,94.004816,98.874019,99.925685,101.060542,1.078913e+02
test_16,64788.0,-0.298142,1.858256e+00,-9.442450,-1.558603,-0.431868,0.836257,1.001263e+01
test_17,64788.0,100.244934,2.112739e+00,92.740970,98.742225,100.168274,101.686684,1.087919e+02
test_18,64788.0,-0.247577,1.638176e+00,-6.901385,-1.384449,-0.265334,0.877956,7.057771e+00
test_19,64788.0,100.367938,2.429536e+00,90.491476,98.710354,100.487079,102.107546,1.098926e+02

In [419]:
df.columns

Index(['gender', 'HMO', 'height', 'bmi', 'heart_rate', 'steps_day_1',
       'steps_day_2', 'steps_day_3', 'steps_day_4', 'steps_day_5', 'city',
       'employment', 'weight', 'label', 'test_0', 'test_1', 'test_2', 'test_3',
       'test_4', 'test_5', 'test_6', 'test_7', 'test_8', 'test_9', 'test_10',
       'test_11', 'test_12', 'test_13', 'test_14', 'test_15', 'test_16',
       'test_17', 'test_18', 'test_19', 'age', 'year_created', 'steps_median',
       'corr_bmi', 'steps_mean'],
      dtype='object')

In [404]:
#fill missing values in the measurements file

columns_to_fill = ['test_2','test_6', 'test_8', 'test_10', 'test_12', 'test_15']
mean_values = df[columns_to_fill].mean()
df.fillna(mean_values, inplace=True)

#create age column

from datetime import datetime
current_year = datetime.now().year

df['birth_date'] = pd.to_datetime(df['birth_date'])
df['age'] = current_year - df['birth_date'].dt.year

# Map gender to integer values
df['gender'] = df['gender'].map({'M': 0, 'F': 1})

# make the created at a time colum

df['created_at'] = pd.to_datetime(df['created_at'])

df['year_created'] = df['created_at'].dt.year

#fix steps

df['steps_median'] = df[['steps_day_1', 'steps_day_2', 'steps_day_3', 'steps_day_4', 'steps_day_5']].median(axis=1)
df.loc[:, 'steps_day_2'] = df['steps_day_2'].fillna(df['steps_median'])

#make missing HMO category

df['HMO'] = df['HMO'].fillna('missingHMO')

#fix weight column

df['weight'] = df['weight'].apply(lambda x: x/1000 if x > 500 else df['weight'].mean() if x<10 else x)

# fix height colum

df['height'] = df['height'].apply(lambda x: x/100 if x > 100 else df['height'].mean() if x<10 else x)

# new BMI column

df['corr_bmi'] = df['weight'] / (df['height'] ** 2)

#make steps mean column

df['steps_mean'] = df[['steps_day_1', 'steps_day_2', 'steps_day_3', 'steps_day_4', 'steps_day_5']].mean(axis=1)

# Categorize city
label_encoder = LabelEncoder()
label_encoder.fit(df['city'])
df['city'] = label_encoder.transform(df['city'])

# Categorize HMO
label_encoder = LabelEncoder()
label_encoder.fit(df['HMO'])
df['HMO'] = label_encoder.transform(df['HMO'])

# Drop irrelevant columns
df.drop(['created_at', 'country', 'region', 'birth_date', 'patient_id'], axis=1,inplace=True)
df.head()

,gender,HMO,height,bmi,heart_rate,steps_day_1,steps_day_2,steps_day_3,steps_day_4,steps_day_5,city,employment,weight,label,test_0,test_1,test_2,test_3,test_4,test_5,test_6,test_7,test_8,test_9,test_10,test_11,test_12,test_13,test_14,test_15,test_16,test_17,test_18,test_19,age,year_created,steps_median,corr_bmi,steps_mean
0,0,3,1.692972,25.948374,61.600474,96,81.0,49,62,63,14,3,74.372008,0,-0.304823,2.526928,1.695177,0.883312,-0.304823,-0.467827,0.060159,2.967887,1.695177,0.492788,0.695177,2.007762,1.695177,-0.736405,0.695177,100.305745,2.592215,98.746159,0.074492,101.669656,59,2019,63.0,25.948374,70.2
1,0,2,1.716370,23.463067,57.429018,50,22.0,25,28,23,0,2,69.120473,0,-2.409156,-1.430361,-0.409156,-0.995013,-2.409156,-2.298425,-0.409156,-0.611722,-3.409156,0.471265,-0.409156,0.369370,-3.409156,-2.015520,-3.409156,97.467493,-2.048522,96.767409,-1.840644,102.044307,56,2020,25.0,23.463067,29.6
2,1,3,1.594097,23.600005,80.609092,280,86.0,196,272,305,2,0,59.971076,0,-0.237680,-2.109256,-2.237680,1.387978,1.762320,0.377945,-0.237680,-0.757449,0.762320,0.092166,-0.237680,-1.533615,-1.237680,-1.140273,-0.237680,99.619753,-0.744591,100.920200,-0.954887,99.518660,78,2018,272.0,23.600005,227.8
3,1,3,1.594150,24.070889,89.218106,277,354.0,423,678,654,15,4,61.171685,0,0.303403,-4.001235,-3.696597,-0.070918,3.303403,-0.083750,-1.696597,-2.559142,0.303403,-0.705679,-1.696597,-3.215954,0.002483,-0.788122,-1.696597,99.184532,-2.482011,102.026019,-0.461391,97.200491,86,2018,423.0,24.070889,477.2
4,0,2,1.808763,25.322567,68.951826,531,441.0,346,273,374,6,3,82.845908,0,-2.361192,1.176278,0.638808,-0.064485,-1.361192,0.561864,0.638808,2.294657,-0.361192,-0.244779,0.638808,1.350373,0.638808,-2.392055,-0.361192,98.793925,1.401420,97.168459,-1.383580,101.809453,60,2018,374.0,25.322567,393.0

In [405]:
#training xgboost model

X = df.drop(['label'], axis=1)
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

params = {
    'objective': 'binary:logistic',  # For binary classification
    'max_depth': 6,
    'eta': 0.3,  # Learning rate
    'eval_metric': 'logloss'
}

num_round = 100  # Number of boosting rounds
model = xgb.train(params, dtrain, num_round)

predictions = model.predict(dtest)
# Convert probabilities to binary predictions
predictions = [1 if pred > 0.5 else 0 for pred in predictions]

accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.99

In [406]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99     12422
           1       0.95      0.73      0.83       536

    accuracy                           0.99     12958
   macro avg       0.97      0.86      0.91     12958
weighted avg       0.99      0.99      0.99     12958

In [407]:
print(confusion_matrix(y_test, predictions))

[[12403    19]
 [  145   391]]